<div class="container py-3">
  <h1>Login to Euchre on Rails</h1>
</div>

<div class="container pb-3">

  <%= form_with(scope: :session, url: login_path, local: true) do |f| %>

  <div class="mb-3">
    <%= f.label :username, "Username:", class: "form-label" %>
    <br><%= f.text_field :username, class: "form-control", placeholder: "username123" %>
  </div>

  <div class="mb-3">
    <%= f.label :password, "Password:", class: "form-label" %>
    <br><%= f.password_field :password, class: "form-control", placeholder: "Password123" %>
  </div>

  <p><%= f.submit "Login", class: "btn btn-secondary" %></p>

  <% end %>

</div>
