<div class="container py-2">
<form class="" action="<%= url_for game_path %>" method="post">
  <fieldset>
    <div class="mb-3">
      <p>Player 1:</p>
       <p class="list-group-item fw-light"><%= current_user.username %> </p>
    </div>
    <div class="mb-3">
      <label for="player2" class="form-label">Player 2:</label>
      <select id="player2" class="form-select">
        <option value="computer">Computer</option>
        <% @users.each do |user| %>
        <option value="<%= user.id %>"><%= user.username%></option>
        <% end %>
      </select>
    </div>
    <div class="mb-3">
      <label for="disabledSelect" class="form-label">Player 3:</label>
      <select id="disabledSelect" class="form-select">
        <option value="computer">Computer</option>
        <% @users.each do |user| %>
        <option value="<%= user.id %>"><%= user.username%></option>
        <% end %>
      </select>
    </div>
    <div class="mb-3">
      <label for="disabledSelect" class="form-label">Player 4:</label>
      <select id="disabledSelect" class="form-select">
        <option value="computer">Computer</option>
        <% @users.each do |user| %>
        <option value="<%= user.id %>"><%= user.username%></option>
        <% end %>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>

@users.collect{|user| [user.username,user.id]}
