<div class="container py-3">
<h1>Start a New Game</h1>
</div>



<div class="container py-2">
<div class="mb-3">
<div class="mb-3">
<%= form_tag('/game',method: :post) do %>
  <label for="room_name" class="form-label">Room Name:</label>
  <%= text_field :room_name, :room_name, class: "form-control" %>
</div>

<div class="mb-3">
  <label for="player1" class="form-label">Player 1:</label>
  <%= select :player1_id,:id,[[current_user.username,current_user.id]],{include_blank: false}, {class: 'form-select', id: "player1", disabled: true } %>
</div>

<div class="mb-3">
  <label for="player2" class="form-label">Player 2:</label>
  <%= select :player2_id,:id,@users,{include_blank: false}, {class: 'form-select', id: "player2"} %>
</div>
<div class="mb-3">
  <label for="player3" class="form-label">Player 3:</label>
  <%= select :player3_id,:id,@users,{include_blank: false}, {class: 'form-select', id: "player3"} %>
</div>
<div class="mb-3">
  <label for="player4" class="form-label">Player 4:</label>
  <%= select :player4_id,:id,@users,{include_blank: false}, {class: 'form-select', id: "player4"} %>
</div>
<div class="mb-3">
  <%= submit_tag("Start Game", class: "btn btn-secondary") %>
</div>
<% end %>

</div>
