<!-- use this to pass in room id variable to javascript -->
<div id='room-id' data-room-id="<%= @room.id %>"></div>
<div id='username' data-username="<%= current_user.username %>"></div>
<div id='user-id' data-user-id="<%= current_user.id %>"></div>



<%= render 'onlinebar' %>



<% if @room.player1_id == current_user.id %>
<div id='player-no' data-player-no="0"></div>
<div class="container mb-3">
  <button id="start-game" class="btn btn-dark" type="button" name="button">Start Game</button>
</div>

<%= render 'player1' %>

<%= render 'controller', pno: "p1" %>

<% elsif @room.player2_id == current_user.id %>

<div id='player-no' data-player-no="1"></div>

<%= render 'player2' %>

<%= render 'controller', pno: "p2" %>

<% elsif @room.player3_id == current_user.id %>

<div id='player-no' data-player-no="2"></div>

<%= render 'player3' %>

<%= render 'controller', pno: "p3" %>

<% elsif @room.player4_id == current_user.id %>

<div id='player-no' data-player-no="3"></div>

<%= render 'player4' %>

<%= render 'controller', pno: "p4" %>

<% end %>


<div class="container pb-2">
  <button id="reload-gui" class="btn btn-dark"type="button" name="button">Reload GUI</button>
</div>

<%= render 'chatbox' %>



<div class="container pb-3">

  <%= form_with url: '/game/leave', method: :delete do |f| %>
    <div class="text-right">
    <%= f.submit "Leave Room", class: "btn btn-dark", id:"leave-room" %>
    </div>
  <% end %>

</div>
