<h1>test to edit database gameupdates</h1>

<% if @update_edit.errors.any? %>
<h2>errors display:</h2>
  <ul>


  <% @update_edit.errors.full_messages.each do |msg| %>

    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= form_with(model: @update_edit,local: true ) do |f| %>

<p><%= f.label :text %><br><%= f.text_area :text %></p>
<p><%= f.submit %></p>

<% end %>
