<div class="container py-2">
  <h1>Game Updates CRUD</h1>
</div>


<div class="container py-3">
  <div class="px-2 py-2">
    <a type="button" name="button" href="/gameupdates/new" class="btn btn-primary">New</a>
  </div>

<table class="table">
  <thead>
    <th>ID</th>
  <th>Time</th>
  <th>Update</th>
  <th>Actions</th>
  </thead>


  <tbody>
    <% @result.each do |update| %>
    <tr>
      <td><%= update.id %></td>
      <td><%= update.created_at %></td>
      <td><%= update.text %></td>
      <td>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Actions
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><%= link_to 'Edit', edit_gameupdate_path(update.id), class: "dropdown-item" %></li>
              <li><%= link_to 'Delete', gameupdate_path(update.id), method: :delete, class: "dropdown-item" %></li>
            </ul>
          </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

</div>
